body{
    background-color: rgba(15, 146, 223, 0.664);
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
}

.card{
    border-radius: 10px;
}

.card-img-top{
    border-radius: 10px;
}

.card-title{
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.card-text{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}


  
  